/* عدد النتائج */
.serach-results-number {
    background-color: #007bff;
    color: white;
    width: 120px;
}



/* ايقونة وجملة تصفية ما تريد*/
.filters-icon {
    background-color: #007bff;
    color: white;
    width: 160px;
}




/* القائمة داخل التصفية */
#search-filters-icon {
    cursor: pointer;
}

.search-header .filter-column {
    display: none;
}

input:checked+span {
    color: #007bff;
}

/* الشرح داخل كل بطاقة فديو */
.card .card-horizontal .card-body p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-body {
    min-width: 0px;
}



/* الصورة داخل كل بطاقة */
.search-image-size {
    width: 100% !important;
}



@media (max-width: 767px){
    .card .card-top-image {
        width: 100%;
    }

    h4 {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}

/*@media (min-width: 768px) and (max-width: 992px){
    .card .card-horizontal .card-body .channel-img {
        display: block;
        margin-top: 10px;
    }
}                              استخدمها اذا كان اسم القناة كبير */  

